<!-- Bootstrap Modal -->
<div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg d-flex align-items-stretch" style="position: fixed; top: 0; left: 0; height: 100vh; max-height: 100vh; width: 45vw; margin: 0;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label for="idModalInput" class="form-label">Employee ID</label>
          <input id="idModalInput" type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
          <label for="nameModalInput" class="form-label">Employee Name</label>
          <input id="nameModalInput" type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
          <label for="birthDateModalInput" class="form-label">Date of Birth</label>
          <input id="birthDateModalInput" type="date" class="form-control" readonly>
        </div>
        <div class="mb-3">
          <label for="ageModalInput" class="form-label">Age</label>
          <input id="ageModalInput" type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
          <label for="departmentModalSelect" class="form-label">Department</label>
          <select id="departmentModalSelect" class="form-select" disabled></select>
        </div>
		<div class="mb-3">
		  <label for="salaryModalInput" class="form-label">Salary</label>
		  <div class="input-group">
		    <span class="input-group-text">₱</span>
		    <input id="salaryModalInput" type="text" class="form-control" readonly>
		  </div>
		</div>
        <hr>
        <div id="employeeActionButtons" class="d-flex justify-content-end gap-2 mt-3"></div>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script> <!-- for fetching departments -->

<!-- Bootstrap 5 JS Bundle is required to enable modal functionality -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>